<div class="header">
        <a href="#nav" class="nav-btn">Menu</a>
      </div>
        <nav class="nav nav-top #navigation" data-state="closed">
          <ul>
            <li class="nav-btn"><a href="{{site.baseurl}}/">About Us</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/gallery/">News</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/price/">Tour</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/faq/">Media</a></li>
            <li class="nav-btn"><a href="{{site.baseurl}}/faq/">Contact</a></li>
          </ul>
        </nav>
