<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{%endif%}{% if page.title == null %}{% endif %}</title>
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body id="top">

  <ul class="skiplinks">
    <li><a href="#main">Skip to primary content</a></li> 
    <li><a href="#complementary">Skip to secondary content</a></li>
    <li><a href="#navigation">Skip to navigation</a></li>
  </ul>

  <section>
   <header>
      {% include nav.html %}
    </header>
  </section>

  {{content}}

  <footer>
    <div class="grid">
      <div class="unit unit-s-1">
      <p class="foot-head">Contact Us</p>
      </div>

      <div class="unit unit-s-1">
      <p class="foot-body">PH: 719.633.5560<br>
      FAX: 719.633.5290<br>spectrum@pcisys.net</p>

      <p class="copyright">© 2014 Mansura Chowdhury.</p>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>

</body>
</html>